html {
    font-family: sans-serif;
    font-size: 13px;
}

th {
    text-align: left;
}

th, td {
     padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr {
    height: 50px;
}

.open {
    background-color: #1cbc90;
    color: white;
    padding: 3px;
    border-radius: 2px;
    text-align: center;
}

.closed {
    background-color: #dd5555;
    color: white;
    padding: 3px;
    border-radius: 2px;
    text-align: center;
}

.thumbnail {
    width: 62px;
    height: 35px;
    background-position: center;
    background-size: cover;
    float: left;
    margin: 3px;
}